services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    image: mariadb:inception
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    image: wordpress:inception
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    restart: always
  
  nginx:
    container_name: nginx
    build: requirements/nginx
    image: nginx:inception
    env_file:
      - .env
    ports:
      - "443:443"
    networks:
      - inception
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    restart: on-failure


volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/mariadb'

  wordpress_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/wordpress'

networks:
  inception:
    driver: bridge