services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    image: mariadb:inception
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    image: wordpress:inception
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb
      - redis
    volumes:
      - wordpress_data:/var/www/html
    restart: always
  
  nginx:
    container_name: nginx
    build: requirements/nginx
    image: nginx:inception
    env_file:
      - .env
    ports:
      - "443:443"
    networks:
      - inception
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    restart: on-failure

  redis:
    container_name: redis
    build: requirements/bonus/redis
    image: redis:inception
    networks:
      - inception
    restart: always
  
  adminer:
    container_name: adminer
    build: requirements/bonus/adminer
    image: adminer:inception
    depends_on:
      - mariadb
    networks:
      - inception
    ports:
      - "8000:8080"
    restart: always

  ftp:
    container_name: ftp-server
    build: requirements/bonus/ftp
    image: ftp-server:inception
    networks:
      - inception
    ports:
      - "20-21:20-21/tcp"
      - "40000-40009:40000-40009/tcp"
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    restart: always

  static-site:
    container_name: static-site
    build: requirements/bonus/static-site
    image: static-site:inception
    networks:
     - inception
    ports:
     - "6767:80"
    restart: always


volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/mariadb'

  wordpress_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/wordpress'

networks:
  inception:
    driver: bridge
