services:
  mariadb:
    build: requirements/mariadb
    image: mariadb:inception
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

  wordpress:
    build: requirements/wordpress
    image: wordpress:inception
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    restart: always

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/mariadb'

  wordpress_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ksilvest/data/wordpress'

networks:
  inception:
    driver: bridge